* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: #0f172a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.notes {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

textarea {
    width: 100%;
    height: 80px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px;
    border: none;
    background: #38bdf8;
    border-radius: 5px;
    cursor: pointer;
}

/* NOTES */
.note {
    background: #334155;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.note button {
    position: absolute;
    right: 5px;
    top: 5px;
    background: red;
}